@charset "UTF-8";
/* Color: #66A5AD, #C4DFE6, #07575B */
/* Font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;1,9..40,400&family=Mulish&display=swap");
/*Variables*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Mulish", sans-serif;
  font-size: 62, 5%;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

header .colornav {
  background-color: #C4DFE6;
}
header .colornav .logo {
  height: 150px;
  width: 150px;
}
header .colornav ul a {
  color: #07575B;
  font-weight: bold;
}

/*Header
header {
  @include flex(row, space-between, center);
  z-index: 1;
  background: rgb(196, 223, 230);
  background: linear-gradient(
    96deg,
    rgba(196, 223, 230, 1) 0%,
    rgba(196, 223, 230, 1) 72%,
    rgba(102, 165, 173, 1) 100%
  );
  position: sticky;
  top: 0px;
  .logo {
    height: 150px;
    width: 150px;
  }
  nav {
    width: 50%;
    ul {
      list-style-type: none;
      margin-right: 10px;
      height: 100%;
      @include flex(row, space-between, center);
      li {
        a {
          color: #07575b;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}*/
/*Footer*/
footer {
  padding-top: 5%;
  padding-bottom: 5%;
  background: rgb(196, 223, 230);
  background: linear-gradient(96deg, rgb(196, 223, 230) 0%, rgb(196, 223, 230) 72%, rgb(102, 165, 173) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer p {
  color: #07575b;
}
footer .redessociales {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .redessociales img {
  width: 40px;
}
footer .redessociales .logoinstagram {
  padding-top: 50%;
}
footer .redessociales .logoyoutube {
  padding-top: 50%;
}

/*Main index*/
.banner {
  text-align: center;
  background-image: url(../imagenes/banner.jpg);
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 25px rgb(0, 0, 0);
  color: whitesmoke;
  padding: 180px;
}

.presentacion h3 {
  text-align: justify;
  text-decoration: solid;
  color: #66a5ad;
  margin: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.servicios {
  background-color: #c4dfe6;
}
.servicios .pixelimagen {
  height: 300px;
}
.servicios .titulotarjeta {
  color: #07575b;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
}
.servicios .texto {
  color: #66a5ad;
  font-family: "Mulish", sans-serif;
}

.mision {
  padding-bottom: 5%;
}
.mision h3 {
  text-align: justify;
  text-decoration: solid;
  color: #66a5ad;
  margin: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.mision .imagenexpresion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mision .imagenmision {
  max-width: 60%;
  height: 350px;
  border-width: 10px;
  border-style: solid;
  border-color: #c4dfe6;
  margin: 30px 90px;
  transition: 2s;
}
.mision .imagenmision:hover {
  transform: scale(1.05, 1.05);
}
.mision .imagenmisiondos {
  max-width: 60%;
  height: 350px;
  border-width: 10px;
  border-style: solid;
  border-color: #c4dfe6;
  margin: 30px 90px;
  transition: 2s;
}
.mision .imagenmisiondos:hover {
  transform: scale(1.05, 1.05);
}

/*quienes somos*/
.quienessomos h1 {
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
  color: #66a5ad;
  margin: 50px 0px;
}
.quienessomos h2 {
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
  color: #66a5ad;
}
.quienessomos p {
  text-align: justify;
  text-decoration: solid;
  margin: 50px 30px;
}
.quienessomos .profesionales {
  margin: 50px 10px;
}
.quienessomos .profesionales .profesionaluno {
  height: 600px;
}
.quienessomos .profesionales .profesionaldos {
  height: 600px;
}
.quienessomos .profesionales .profesionaltres {
  height: 600px;
}
.quienessomos .profesionales .nombreprofesional {
  color: #07575b;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  text-align: center;
}
.quienessomos .profesionales .descripcion {
  color: #66a5ad;
  font-family: "Mulish", sans-serif;
}

/*atención*/
.areasdeatencion h1 {
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
  color: #66a5ad;
  margin: 50px 0px;
}
.areasdeatencion p {
  text-align: justify;
  text-decoration: solid;
  margin: 60px 40px;
}
.areasdeatencion .imagenesatencion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}
.areasdeatencion .imagenesatencion .imageninfanto {
  height: 300px;
  transition: 2s;
}
.areasdeatencion .imagenesatencion .imageninfanto:hover {
  transform: scale(1.05, 1.05);
}
.areasdeatencion .imagenesatencion .imagenadultos {
  height: 300px;
  transition: 2s;
}
.areasdeatencion .imagenesatencion .imagenadultos:hover {
  transform: scale(1.05, 1.05);
}
.areasdeatencion .imagenesatenciondos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.areasdeatencion .imagenesatenciondos .imagenfamilias {
  height: 300px;
  transition: 2s;
}
.areasdeatencion .imagenesatenciondos .imagenfamilias:hover {
  transform: scale(1.05, 1.05);
}

/*areas de trabajo*/
.areasdetrabajo h1 {
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
  color: #66a5ad;
  margin: 50px 0px;
}
.areasdetrabajo .tituloarea {
  color: #07575b;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
}
.areasdetrabajo .descripcionarea {
  font-family: "Mulish", sans-serif;
  text-align: justify;
}

/*contacto*/
.contactanos h1 {
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
  color: #66a5ad;
  margin: 50px 0px;
}
.contactanos h2 {
  text-decoration: solid;
  text-align: center;
  color: #c4dfe6;
  margin: 20px 0px;
}
.contactanos section .formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.contactanos .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/*mobile*/
@media only screen and (max-width: 500px) {
  header .logo {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    font-size: 0.9em;
  }
  .banner {
    text-shadow: none;
    height: 200px;
    width: 480px;
    padding: 100px;
  }
  .banner h1 {
    font-size: 2rem;
    margin-bottom: 60%;
  }
  .banner h2 {
    display: none;
  }
  .presentacion h3 {
    font-size: 1.5rem;
  }
  .servicios .titulotarjeta {
    font-size: 1.5rem;
    text-align: center;
  }
  .servicios .texto {
    font-size: 1.2rem;
    text-align: justify;
  }
  .mision h3 {
    font-size: 1.5rem;
  }
  .mision .imagenexpresion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mision .imagenmision {
    height: 200px;
    margin: 20px 60px;
  }
  .mision .imagenmisiondos {
    height: 200px;
    margin: 20px 60px;
  }
  footer {
    flex-direction: column;
  }
  footer img {
    width: 30px;
  }
  footer .contacto {
    padding-top: 6%;
    text-align: center;
  }
  footer p {
    font-size: 1rem;
  }
  .quienessomos h1 {
    font-size: 2rem;
  }
  .quienessomos h2 {
    font-size: 1.8rem;
  }
  .quienessomos .imagenprofesionales {
    flex-direction: column;
  }
  .quienessomos .profesionalesdos {
    flex-direction: column;
  }
  .areasdeatencion h1 {
    font-size: 2rem;
  }
  .areasdeatencion h2 {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    margin: 0px 0px;
  }
  .areasdeatencion p {
    font-size: 1.2rem;
    text-align: justify;
    margin: 0px 0px;
  }
  .areasdeatencion .imagenesatencion {
    flex-direction: column;
    margin: 0px 0px;
  }
  .areasdeatencion .imagenesatencion .imageninfanto {
    height: 180px;
    margin: 20px 60px;
  }
  .areasdeatencion .imagenesatencion .imagenadultos {
    height: 180px;
    margin: 20px 60px;
  }
  .areasdeatencion .imagenesatencion p {
    text-align: center;
    margin: 0px 0px;
  }
  .areasdeatencion .imagenesatenciondos {
    flex-direction: column;
    justify-content: center;
  }
  .areasdeatencion .imagenesatenciondos p {
    text-align: center;
    margin: 0px 0px;
  }
  .areasdeatencion .imagenesatenciondos .imagenfamilias {
    height: 180px;
    margin: 20px 60px;
  }
  .areasdeatencion h1 {
    font-size: 2rem;
  }
  .areasdeatencion h2 {
    font-size: 1.8rem;
  }
  .contactanos h1 {
    font-size: 2rem;
  }
  .contactanos h2 {
    font-size: 1.8rem;
  }
  .contactanos section .formulario {
    flex-direction: column;
    justify-content: center;
  }
  .areasdetrabajo h1 {
    font-size: 2rem;
  }
  .areasdetrabajo .tituloarea {
    font-size: 1.8rem;
  }
}
/* tablet ------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width: 978px) {
  header .logo {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    font-size: 0.9em;
  }
  .banner {
    text-shadow: none;
    height: 100%;
    width: auto;
    padding: 100px;
  }
  .banner h1 {
    font-size: 3rem;
    margin-bottom: 10%;
    text-align: center;
  }
  .banner h2 {
    display: none;
  }
  .presentacion h3 {
    font-size: 1.5rem;
  }
  .servicios .titulotarjeta {
    font-size: 1.5rem;
    text-align: center;
  }
  .servicios .texto {
    font-size: 1.2rem;
    text-align: justify;
  }
  .mision h3 {
    font-size: 1.5rem;
  }
  .mision .imagenexpresion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mision .imagenmision {
    height: 200px;
    margin: 20px 60px;
  }
  .mision .imagenmisiondos {
    height: 200px;
    margin: 20px 60px;
  }
  footer {
    flex-direction: column;
  }
  footer img {
    width: 30px;
  }
  footer .contacto {
    padding-top: 6%;
    text-align: center;
  }
  footer p {
    font-size: 1rem;
  }
  .quienessomos h1 {
    font-size: 2rem;
  }
  .quienessomos h2 {
    font-size: 1.8rem;
  }
  .quienessomos .profesionales .profesionaluno {
    height: auto;
  }
  .quienessomos .profesionales .profesionaldos {
    height: auto;
  }
  .quienessomos .profesionales .profesionaltres {
    height: auto;
  }
  .areasdeatencion h1 {
    font-size: 2rem;
  }
  .areasdeatencion h2 {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    margin: 0px 0px;
  }
  .areasdeatencion p {
    font-size: 1.2rem;
    text-align: justify;
    margin: 0px 0px;
  }
  .areasdeatencion .imagenesatencion {
    flex-direction: column;
    margin: 0px 0px;
  }
  .areasdeatencion .imagenesatencion .imageninfanto {
    height: 180px;
    margin: 20px 60px;
  }
  .areasdeatencion .imagenesatencion .imagenadultos {
    height: 180px;
    margin: 20px 60px;
  }
  .areasdeatencion .imagenesatencion p {
    text-align: center;
    margin: 0px 0px;
  }
  .areasdeatencion .imagenesatenciondos {
    flex-direction: column;
    justify-content: center;
  }
  .areasdeatencion .imagenesatenciondos p {
    text-align: center;
    margin: 0px 0px;
  }
  .areasdeatencion .imagenesatenciondos .imagenfamilias {
    height: 180px;
    margin: 20px 60px;
  }
  .areasdeatencion h1 {
    font-size: 2rem;
  }
  .areasdeatencion h2 {
    font-size: 1.8rem;
  }
  .contactanos h1 {
    font-size: 2rem;
  }
  .contactanos h2 {
    font-size: 1.8rem;
  }
  .contactanos section .formulario {
    flex-direction: column;
    justify-content: center;
  }
  .areasdetrabajo h1 {
    font-size: 2rem;
  }
  .areasdetrabajo .tituloarea {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
