/*areas de trabajo*/
.areasdetrabajo {
  h1 {
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    color: #66a5ad;
    margin: 50px 0px;
  }
  .tituloarea {
    color: #07575b;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
  }
  .descripcionarea {
  
    font-family: "Mulish", sans-serif;
    text-align: justify;
  }
}
