/*Footer*/
footer{
    padding-top: 5%;
    padding-bottom: 5%;
    background: rgb(196,223,230);
    background: linear-gradient(96deg, rgba(196,223,230,1) 0%, rgba(196,223,230,1) 72%, rgba(102,165,173,1) 100%);
    @include flex(row, space-around, center);
    p{
        color: #07575b;
        font-weight: bold;
    }
    .redessociales{
        @include flex(column, space-around, center);
        img{
            width: 40px;
        }
        .logoinstagram{
            padding-top: 50%;
        }
        .logoyoutube{
            padding-top: 50%;
        }
    }
    .contacto{
        img{
            width: 25px;
        }
    }
    
}