/*quienes somos*/
.quienessomos {
  h1 {
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    color: #66a5ad;
    margin: 50px 0px;
  }
  h2 {
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    color: #66a5ad;
  }
  p {
    text-align: justify;
    text-decoration: solid;
    margin: 50px 30px;
  }
  .profesionales {
    margin: 50px 10px;
    .profesionaluno {
      height: 600px;
    }
    .profesionaldos {
      height: 600px;
    }
    .profesionaltres {
      height: 600px;
    }
    .nombreprofesional {
      color: #07575b;
      font-family: "Mulish", sans-serif;
      font-weight: bold;
      text-align: center;
    }
    .descripcion {
      color: #66a5ad;
      font-family: "Mulish", sans-serif;
    }
  }
}
